#rank-view{
    margin: 10px;
}

.toplist{
    .top-item{
        height: 100px;
        background: #fff;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .top-item-media{
        float: left;
        img{
            width: 100px;
            height: 100px;
            display: block;
        }
    }
    .top-item-info{
        position: relative;
        padding: 7px 10px 6px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &::after{
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            width: 6px;
            height: 6px;
            transform: rotate(315deg);
            border-right: 1px solid #b2b2b2;
            border-bottom: 1px solid #b2b2b2;
        }
        .top-item-list{
            .top-item-song{
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}