*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    margin: 0;
    font-weight: normal;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
img{
    border: none;
}
// .ellipsis{
//     overflow: hidden;
//     margin-bottom: 5px;
//     font-size: 16px;
// }
.hide {
    display: none;
  }
  
  .noscroll {
    overflow: hidden;
  }
  
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }